extends layout

block content
    //nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    //    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    //        span.navbar-toggler-icon
    //    a.navbar-brand(href="/") Wallets
    //    .navbar-collapse.collapse
    //        ul.navbar-nav
    //            li.nav-item
    //                a.nav-link(href='/register') Sign Up
    .jumbotron
        h1.display-3 Wallets
        p.lead.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p
            a.btn.btn-lg.btn-success(href='/register') Try now!


